.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.box {
    color: white;
}

.box1  {
    background: rgb(25, 25, 25);
    flex-basis: 10%;
    font-size: 2rem;
    height: 100px;
    line-height: 97px;
}

.box2 {
    background: rgb(5, 249, 99);
    flex-basis: 15%;
    font-size: 4rem;
    height: 140px;
    line-height: 135px;
}

.box3 {
    background: rgb(77, 77, 247);
    flex-basis: 30%;
    font-size: 7rem;
    height: 230px;
    line-height: 225px;
}

.box4 {
    background: rgb(242, 36, 5);
    flex-basis: 15%;
    font-size: 4rem;
    height: 140px;
    line-height: 135px;
}

.box5 {
    background: rgb(25, 25, 25);
    flex-basis: 10%;
    font-size: 2rem;
    height: 100px;
    line-height: 97px;
}
