/* A Sass file that assigns:

Text color to button tags
When the user hovers over button tags */

$hover: #00FF00;
$red: #FF0000;

button {
    color: $red;

    &:hover {
        color: $hover;
    }
}
