/* A Sass file that assigns text color to button tags when the user hovers over button tags */

$first-color: #00FF00;
$second-color: #FF0000;

button {
    color: $second-color;

    &:hover {
        color: $first-color;
    }
}
